<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UCBxHW Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  table, th, td {border: 1px solid black;}
  th, td {padding: 15px;}
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars info</h1>
      
      <!-- <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p> -->
    </div>
    <div class="col-md-6">

        <h2>Mars Statistics</h2>
        <table style="width:100%">
            {% for p in profile %}
            <tr>
              <td>{{p.label}}</td>
              <td>{{p.value}}</td>
            </tr>
            {% endfor %}    
          </table>
      
      <br><br>
      <img src="{{ feat_img }}" alt="Sloth" style="max-width: 100%">
      <br><br>

      <h2>Mars-Earth Comparison</h2>
      <table style="width:100%">
          <tr>
            <th>  </th>
            <th>Mars</th> 
            <th>Earth</th>
          </tr>
          {% for c in comp %}
          <tr>
            <td>{{c.label}}</td>
            <td>{{c.mars}}</td>
            <td>{{c.earth}}</td>
          </tr>
          {% endfor %}    
        </table>
      
      <br><br>
      {% for h in hemi %}
      <div class="col-md-6">
        <img src="{{ h.img_url }}" style="max-width: 100%">
        <h4>{{h.title}}</h4>
      </div>
      {% endfor %}
      
    </div>
    <div class="col-md-6">
      <h2>Weather</h2>
      <p>{{weather}}</p>
      <h2>Latest news</h2>
      {% for news in news_data %}
          <h4>{{ news.title }}</h4>
          <p><i>{{ news.date }}</i> <br>
          {{ news.teaser }}</p><br>
      {% endfor %}
    </div>
  </div>
</body>

</html>
